/**
 * Box Shadow
 * Props || Hauteur, Flou, % de blanc
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  overflow-x: clip;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

html,
body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
img,
span,
form,
input,
button,
header,
footer,
main {
  margin: 0;
  padding: 0;
}

/*region Global Links*/
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #FFF;
}

p,
h3,
h2,
h1,
h4,
label,
a,
input,
li {
  font-family: "Roboto", sans-serif;
  color: hsl(0deg, 0%, 0%);
}

li:hover,
a:hover {
  color: #af5fdb;
  cursor: pointer;
}

h1,
.loader-page .loader-page__title,
.restaurant-title {
  font-family: "Shrikhand", cursive;
  font-size: 29px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1px;
}

h3, h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

input {
  font-size: 16px;
  font-weight: 500;
  color: hsl(0deg, 0%, 20%);
}

i {
  font-size: 16px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

button {
  font-size: 16px;
  font-weight: 400;
}

.new-restaurant p {
  font-size: 15px;
  font-weight: 500;
  color: #008766;
}

.restaurant__card-content .text-container p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
footer .footer__links {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.6px;
}

.main-button {
  place-content: center;
  display: grid;
  height: 50px;
  transition: all 150ms ease-in-out;
  border: none;
  border-radius: 100px;
  background: #9356dc;
  background: linear-gradient(170deg, #ff79da 10%, #af5fdb 75%);
  padding-inline: 21px;
  box-shadow: 0 4px 10px hsl(0deg, 0%, 63%);
}
.main-button__text {
  font-size: 16px;
  font-weight: 400;
  display: block;
  color: hsl(0deg, 0%, 100%);
}
.main-button:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px hsl(0deg, 0%, 45%);
  filter: brightness(110%);
}

.pages__main .main-button {
  width: 186px;
}

.like-container {
  height: 23px;
  width: 23px;
}
.like-container .fa-regular {
  display: inline-block;
}
.like-container .fa-solid {
  display: none;
}
.like-container:hover .fa-regular, .like-container:active .fa-regular, .like-container:target .fa-regular {
  display: none;
}
.like-container:hover .fa-solid, .like-container:active .fa-solid, .like-container:target .fa-solid {
  display: inline-block;
  animation-name: fill-heart;
  animation-duration: 650ms;
  animation-timing-function: ease-in-out;
}

.fa-heart {
  font-size: 23px;
  z-index: 10;
  cursor: pointer;
}

.fa-solid.fa-heart {
  background-image: linear-gradient(12deg, #ff79da 7%, #af5fdb 88%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@keyframes fill-heart {
  0% {
    background-image: linear-gradient(0deg, #af5fdb 10%, white 0%);
    transform: scale(1);
  }
  10% {
    background-image: linear-gradient(0deg, #af5fdb 10%, white 10%);
  }
  20% {
    background-image: linear-gradient(0deg, #af5fdb 10%, white 20%);
    transform: scale(0.8);
  }
  30% {
    background-image: linear-gradient(0deg, #af5fdb 10%, white 30%);
  }
  40% {
    background-image: linear-gradient(0deg, #af5fdb 10%, white 40%);
  }
  50% {
    background-image: linear-gradient(0deg, #af5fdb 10%, white 50%);
    transform: scale(1.2);
  }
  60% {
    background-image: linear-gradient(0deg, #af5fdb 10%, white 60%);
  }
  70% {
    background-image: linear-gradient(0deg, #ff79da 7%, #af5fdb 10%, white 70%);
  }
  80% {
    background-image: linear-gradient(0deg, #ff79da 7%, #af5fdb 10%, white 80%);
    transform: scale(0.8);
  }
  90% {
    background-image: linear-gradient(0deg, #ff79da 7%, #af5fdb 10%, white 90%);
    transform: scale(1.1);
  }
  100% {
    background-image: linear-gradient(12deg, #ff79da 7%, #af5fdb 88%, white 100%);
    transform: scale(1);
  }
}
.header__navigation {
  width: 100%;
}
.header__navigation h1 {
  display: block;
  text-align: center;
  margin-inline: auto;
  padding-block: 23px 10px;
}

footer {
  background-color: hsl(0deg, 0%, 24%);
  padding: 26px;
  height: 197px;
}
@media screen and (min-width: 735px) {
  footer h2 {
    display: block;
    width: min-content;
    margin-inline: auto;
  }
}
footer * {
  color: hsl(0deg, 0%, 100%);
}

.footer__links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 735px) {
  .footer__links {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}
.footer__links li {
  display: flex;
  gap: 10px;
}
.footer__links li i {
  width: 12px;
  height: 12px;
}
.footer__links li:first-of-type i {
  font-size: 13px;
}
.footer__links li:nth-of-type(2) i {
  font-size: 12px;
  transform: scaleX(0.8);
}
.footer__links li:hover {
  color: #9356dc;
}

.header__navigation {
  position: sticky;
  top: 0;
  border-bottom: 1px solid hsl(0deg, 0%, 96%);
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 1px 3px hsl(0deg, 0%, 70%);
}
.header__navigation a {
  position: absolute;
  top: 24px;
  left: 24px;
}
.header__navigation a i {
  font-size: 22px;
  transform: scaleX(0.9);
}

.pages__main .main__header {
  overflow: hidden;
  width: 100%;
  height: 265px;
}
.pages__main .main__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pages__main .main__menu {
  position: relative;
  top: -49px;
  padding-top: 37px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: hsl(0deg, 0%, 96%);
  padding-inline: 15px;
}
@media screen and (min-width: 735px) {
  .pages__main .main__menu {
    max-width: 1210px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .pages__main .main__menu .restaurant-title-container {
    max-width: 850px;
    margin-inline: auto;
  }
  .pages__main .main__menu .restaurant-title-container,
.pages__main .main__menu .menu__button-container {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 735px) and (min-width: 735px) {
  .pages__main .main__menu .starter-dish,
.pages__main .main__menu .main-dish,
.pages__main .main__menu .dessert {
    max-width: 450px;
  }
}
.pages__main .main__menu .starter-dish,
.pages__main .main__menu .main-dish,
.pages__main .main__menu .dessert {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 750ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.pages__main .main__menu .starter-dish {
  animation-delay: 500ms;
}
.pages__main .main__menu .main-dish {
  animation-delay: 800ms;
}
.pages__main .main__menu .dessert {
  animation-delay: 1200ms;
}
.pages__main .main__menu .restaurant-title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  gap: 30px;
}
.pages__main .main__menu h3 {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  margin-bottom: 20px;
  margin-left: 5px;
  text-transform: uppercase;
}
.pages__main .main__menu h3::after {
  position: relative;
  top: 5px;
  display: block;
  width: 41px;
  content: "";
  border-top: 3px solid #99e2d0;
}
.pages__main .main__menu .card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
  gap: 15px;
}
.pages__main .main__menu .card {
  box-shadow: 0 4px 15px hsl(0deg, 0%, 90%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  width: 348px;
  height: 69px;
  border-radius: 15px;
  background-color: hsl(0deg, 0%, 100%);
  position: relative;
}
.pages__main .main__menu .card:hover .card__hover {
  animation-name: slide-in;
}
.pages__main .main__menu .card:hover .fa-circle-check {
  animation-name: check-roll;
}
.pages__main .main__menu .card:hover p,
.pages__main .main__menu .card:hover h4 {
  animation-name: text-shrink;
}
.pages__main .main__menu .card:hover .card__content {
  animation-name: card-content-shrink;
}
.pages__main .main__menu .card:hover .card-price {
  color: hsl(0deg, 0%, 0%);
}
.pages__main .main__menu .card:hover .card__hover,
.pages__main .main__menu .card:hover .fa-circle-check,
.pages__main .main__menu .card:hover p,
.pages__main .main__menu .card:hover h4,
.pages__main .main__menu .card:hover .card__content {
  animation-timing-function: ease-out;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
}
.pages__main .main__menu .card:hover .card__hover {
  display: inline-grid;
  cursor: pointer;
}
.pages__main .main__menu .card__hover {
  animation-name: slide-out;
}
.pages__main .main__menu p,
.pages__main .main__menu h4 {
  animation-name: text-grow;
}
.pages__main .main__menu .card__content {
  animation-name: card-content-grow;
}
.pages__main .main__menu .card__hover,
.pages__main .main__menu p,
.pages__main .main__menu h4,
.pages__main .main__menu .card__content {
  animation-timing-function: ease-out;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
}
.pages__main .main__menu .card__hover {
  transform: translateX(50px);
  display: inline-grid;
  width: 75px;
  height: 100%;
  background-color: #99e2d0;
  place-content: center;
}
.pages__main .main__menu .card__hover .fa-circle-check {
  font-size: 24px;
  color: hsl(0deg, 0%, 100%);
}
.pages__main .main__menu .card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}
.pages__main .main__menu .card__content .card-text,
.pages__main .main__menu .card__content .card-price {
  height: 45px;
}
.pages__main .main__menu .card__content .card-text {
  width: 100%;
}
.pages__main .main__menu .card__content .card-text p,
.pages__main .main__menu .card__content .card-text h4 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pages__main .main__menu .card__content .card-text p {
  font-size: 15px;
  margin-top: 5px;
}
.pages__main .main__menu .card__content .card-price {
  background-color: hsl(0deg, 0%, 100%);
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
  width: 80px;
}
.pages__main .main__menu .menu__button-container {
  padding-top: 15px;
  padding-bottom: 70px;
}
.pages__main .main__menu .menu__button-container .main-button {
  margin-inline: auto;
}

.pages__main + footer {
  position: relative;
  top: -49px;
}

@keyframes check-roll {
  0% {
    transform: rotate(-360deg);
  }
  20% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes slide-in {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0px);
    visibility: visible;
  }
  to {
    transform: translateX(50px);
    visibility: hidden;
  }
}
@keyframes text-shrink {
  from {
    width: 250px;
  }
  to {
    width: 220px;
  }
}
@keyframes text-grow {
  from {
    width: 220px;
  }
  to {
    width: 250px;
  }
}
@keyframes card-content-shrink {
  from {
    width: 100%;
  }
  to {
    width: 289px;
  }
}
@keyframes card-content-grow {
  from {
    width: 289px;
  }
  to {
    width: 100%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home__header,
.home__main,
.main__fonctionnement-container,
.main__restaurant-container,
.home__main + footer {
  animation: home-page__fade-in;
  animation-fill-mode: forwards;
}

.home__header {
  animation-duration: 2500ms;
}

.home__main {
  animation-duration: 3200ms;
}

.main__fonctionnement-container {
  animation-duration: 3200ms;
}

.main__restaurant-container {
  animation-duration: 3500ms;
}

.home__main + footer {
  animation-duration: 3500ms;
}

@keyframes home-page__fade-in {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0%;
  }
  90% {
    opacity: 20%;
  }
  95% {
    opacity: 50%;
  }
  98% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
.loader-page {
  position: absolute;
  top: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation-name: loader-page__animation-fade-out;
  animation-duration: 2800ms;
  animation-timing-function: ease-out;
  place-content: center;
  animation-fill-mode: forwards;
}

@keyframes loader-page__animation-fade-out {
  0% {
    z-index: 50;
    opacity: 0;
  }
  20% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  85% {
    opacity: 75%;
  }
  88% {
    opacity: 50%;
  }
  90% {
    opacity: 25%;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
.loader-page__container {
  width: 350px;
  height: 100px;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  border: 1px solid hsl(0deg, 0%, 92%);
}
.loader-page__container .loader-page__title {
  display: block;
  font-size: 55px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-shadow: 0 0 5px hsl(0deg, 0%, 50%);
  isolation: isolate;
}

.loader-page__inner {
  background: linear-gradient(170deg, #ff79da 10%, #af5fdb 75%);
  width: 100%;
  height: 100%;
}

.loader-page__hide {
  animation: loading-page__animation-reveal 1900ms forwards;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0deg, 0%, 100%);
  z-index: 5;
}

@keyframes loading-page__animation-reveal {
  0% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(75%);
  }
  100% {
    transform: translateX(100%);
  }
}
.header__localisation {
  z-index: 0;
  display: grid;
  height: 50px;
  background-color: hsl(0deg, 0%, 92%);
  place-content: center;
}
.header__localisation input {
  z-index: 0;
  width: 130px;
  margin-left: 15px;
  border: none;
  background-color: inherit;
}

.header__presentation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: hsl(0deg, 0%, 96%);
  padding-block: 43px;
  gap: 15px;
}
@media screen and (min-width: 735px) {
  .header__presentation {
    max-width: 1050px;
    margin-inline: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.header__presentation > h2 {
  width: 74%;
}
.header__presentation > p {
  width: 85%;
  margin-bottom: 20px;
  color: hsl(0deg, 0%, 20%);
}

.header__button-link {
  display: block;
  height: 50px;
}

.main__fonctionnement-container,
.main__restaurant-container {
  padding-inline: 20px;
  padding-block: 52px 70px;
}
@media screen and (min-width: 735px) {
  .main__fonctionnement-container,
.main__restaurant-container {
    max-width: 1050px;
    margin-inline: auto;
    border-radius: 20px;
  }
}
.main__fonctionnement-container h2,
.main__restaurant-container h2 {
  margin-bottom: 25px;
}

.fonctionnement__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.fonctionnement__list li {
  display: flex;
  align-items: center;
  width: 323px;
  height: 73px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  transform: translateX(10px);
  box-shadow: 0 4px 15px hsl(0deg, 0%, 85%);
  border-radius: 23px;
  background-color: hsl(0deg, 0%, 96%);
}
.fonctionnement__list li:hover {
  background-color: #f5edff;
}
.fonctionnement__list li:hover i {
  color: #9356dc;
}
@media screen and (min-width: 735px) {
  .fonctionnement__list {
    flex-direction: row;
    justify-content: center;
  }
}

.fonctionnement__bubble {
  display: inline-grid;
  width: 24px;
  height: 25px;
  transform: translateX(-10px);
  border-radius: 100%;
  background-color: #9356dc;
  place-content: center;
}
.fonctionnement__bubble span {
  font-size: 14px;
  font-weight: 400;
  transform: translateY(2px);
  color: hsl(0deg, 0%, 100%);
}

.fonctionnement__icon {
  margin-inline: 12px 27px;
}
.fonctionnement__icon i {
  font-size: 19px;
  transform: scaley(1.1);
  color: hsl(0deg, 0%, 50%);
}

.fonctionnement__description {
  font-size: 16px;
  font-weight: 500;
}

.main__restaurant-container {
  background-color: hsl(0deg, 0%, 96%);
}

.restaurant__card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
}
@media screen and (min-width: 735px) {
  .restaurant__card-container {
    flex-direction: row;
    justify-content: center;
  }
}

.restaurant__card {
  box-shadow: 0 4px 10px hsl(0deg, 0%, 90%);
  overflow: hidden;
  width: 335px;
  height: 243px;
  border-radius: 20px;
}
.restaurant__card:hover {
  animation-name: card-hover;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}
.restaurant__card a {
  width: 100%;
  height: 100%;
}
.restaurant__card a:hover {
  cursor: pointer;
}
.restaurant__card a:hover h3,
.restaurant__card a:hover p {
  color: #9356dc;
}

.restaurant__card:nth-of-type(1) img {
  transform: scale(1.04);
  object-position: 0% 106%;
}
.restaurant__card:nth-of-type(2) img {
  object-position: 0% 61%;
}
.restaurant__card:nth-of-type(3) img {
  object-position: 0% 100%;
}
.restaurant__card:nth-of-type(4) img {
  object-position: 0% 100%;
}

.restaurant__card-header {
  background-color: pink;
  position: relative;
  overflow: hidden;
  height: 173px;
  width: inherit;
}
.restaurant__card-header img {
  width: 335px;
  height: 173px;
  object-fit: cover;
}
.restaurant__card-header .new-restaurant {
  position: absolute;
  top: 15px;
  right: 20px;
  display: none;
  padding: 8px 12px;
  border-radius: 2px;
  background-color: #99e2d0;
}

.restaurant__card--new .new-restaurant {
  display: block;
}

.restaurant__card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77px;
  background-color: hsl(0deg, 0%, 100%);
  padding-inline: 14px;
}
.restaurant__card-content .text-container p {
  margin-top: 5px;
}

@keyframes card-hover {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
