@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$clr__green: #2afc4c;
$clr__dark--blue: #160930;
$clr__dark--brown: #393434;
$clr__light--blue: #98ecfe;
$clr__light--red: #f9d0c7;
$clr__light--yellow: #fef8c3;
$delay: 450ms;

*,
*:before,
*:after {
   font-family: VT323, monospace;
   font-weight: 100;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
}

:root {
   font-size: 62.5%;
}

body {
   overflow: hidden;
   //width: 100vw;
   background-color: $clr__dark--blue;
}

header,
main {
   //width: 100%;
   //height: 100%;
   margin: 7% 10%;
}

h1 {
   font-size: 6.5rem;
   display: inline-block;
   text-shadow: -6px 8px 4px #fcf8f840;
}

.nom,
.prenom {
   display: inline-block;
}

h2,
li,
.nom,
.prenom {
   animation-duration: 1200ms;
   animation-timing-function: ease-out;
   animation-fill-mode: both;
}

.prenom {
   animation-name: enterUp;
   animation-delay: $delay * 2;
   color: $clr__light--yellow;
}

.nom {
   animation-name: enterDown;
   animation-delay: $delay * 3;
   color: $clr__light--red;
}

h2 {
   font-size: 3.4rem;
   animation-name: enterLeft;
   animation-delay: $delay * 2;
   text-transform: uppercase;
   color: $clr__light--blue;
   margin-block: 7rem 2rem;
   animation: tilt 5s 10s infinite both;
}

.links {
   width : 50% ;
}
li {
   width: max-content;
   margin-bottom: 1.6rem;
   animation-name: enterLeft;
   @for $i from 1 through 10 {
      &:nth-of-type(#{$i}) {
         animation-delay: $delay * $i + $delay * 2;
      }
   }
   a {
      display: inline-block;
      font-size: 4.8rem;
      position: relative;
      width: 100ch;
      height: 100%;
      text-decoration: none;
      color: $clr__green;

      &:before {
         margin-right: 2rem;
         content: '>';
      }

      &:hover,
      &:focus-visible {
         cursor: pointer;
         color: $clr__dark--blue;
         outline: none;

         &:after {
            position: absolute;
            z-index: -1;
            top: 0;
            left: -5rem;
            width: 550px;
            height: 100%;
            content: ' ';
            background-color: $clr__green;
         }
      }
   }
}

.letter {
   display: inline-block;
   margin-inline: 1px;
   // animation on hover is set with JavaScript
}

@keyframes enterUp {
   from {
      transform: translateY(100%);
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes enterDown {
   from {
      transform: translateY(-100%);
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes enterLeft {
   0% {
      transform: translateX(100%);
      opacity: 0;
   }
   60% {
      opacity: 0;
   }
   to {
      transform: translateX(0);
      opacity: 1;
   }
}

.circle {
   position: absolute;
   top: 0;
   left: 0;
   width: 250vh;
   height: 250vh;
   //border-radius: 100%;
   animation: circleFade 550ms both ease-in-out;
   transform-origin: left;

   @media screen and (min-width: 650px) {
      width: 250vw;
      height: 250vw;
   }

   &--white {
      background-color: $clr__dark--brown;
      animation-delay: $delay * 0.2;
      z-index: 30;
   }
   &--blue {
      background-color: $clr__light--yellow;
      animation-delay: $delay * 0.8;
      z-index: 20;
   }
   &--red {
      background-color: $clr__light--blue;
      animation-delay: $delay * 1.5;
      z-index: 10;
   }
}

@keyframes circleFade {
   0% {
      transform: translateX(0);
      opacity: 1;
   }
   60% {
      opacity: 1;
   }
   100% {
      transform: translateX(-100%);
      opacity: 0;
   }
}

@keyframes tilt {
   0% {
      opacity: 1;
   }
   5% {
      opacity: 0;
   }
   7% {
      opacity: 1;
   }
   10% {
      opacity: 1;
   }
   13% {
      opacity: 0;
   }
   15% {
      opacity: 1;
   }
   100% {
      opacity: 1;
   }
}

#count {
   visibility: hidden;
   &:before {
      font-size: 96px;
      width: 75px;
      text-align: center;
      background-color: $clr__green;
      color: $clr__dark--blue;
      margin-inline: 300px;
      content: attr(data-value);
   }
}

$boxW: 300px;
$icon: 72px;
$center: 22px;
.keys {
   display: none;
   float:right;

   @media screen and (min-width: 950px){
      display: block;
   }

   &:before {
      display: inline-block;
      text-align: center;
      font-size: 4.8rem;
      position: relative;
      width: $boxW;
      text-decoration: none;
      color: #a9a9a9;
      content: "Navigation";
      top: -1rem;
   }
   width: $boxW;
   height: $boxW;
   position: relative;
   //background-color: red;
   &__icon {
      position: absolute;
      width : $icon ;
      height: $icon ;
      border:  1px solid black;
      border-radius: 7px;

      [class*='arrow'] {
         width: $icon ;
         height: $icon;
         font-size: $icon - 10px;
      }

      &[data-key-press = "true"] {
         background-color: #d5d5d5;

         [class*='arrow'] {
            color: #626262;
         }
      }

      &--up {
         top: $boxW * 0.15;
         left: $boxW * 0.30 + $center;
         background-color: #626262;
         [class*='arrow'] {
            color: #a9a9a9;
         }
      }
      &--down {
         top: $boxW * 0.4;
         left: $boxW * 0.30 + $center;
         background-color: #626262;
         [class*='arrow'] {
            color: #a9a9a9;
         }
      }
      &--left {
         top: $boxW * 0.4;
         left: $boxW * 0.05 + $center;
         background-color: #626262;
         [class*='arrow'] {
            color: #313131;
         }
      }
      &--right {
         top: $boxW * 0.4;
         left: $boxW * 0.55 + $center;
         background-color: #626262;
         [class*='arrow'] {
            color: #313131;
         }
      }
   }
}
