main {
  display: block;

  &[data-lightbox-is-open='true'] {
    display: none;
  }
}


.cardWrapper {
  $container: calc(99vw - (calc($grid-columns - 1) * $outer-border));
  $column-gaps: calc($container - ($card-layout-width * $grid-columns));

  animation: fadeIn 450ms 600ms;

  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  column-gap: 70px;
  row-gap: 70px;
  margin-block: 110px 70px;

  > .duo {
    position: absolute;
    top: 50%;
    left: 45%;
  }

  .imgMedia {
    width: 350px;
    height: 300px;
    border-radius: 5px;
  }
}
