//region Style.css

body > header,
body > main {
   margin-inline: $outer-border;
}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 70px;
   margin-top: 2vw;
   margin-bottom: 0;
}

header {
   h1 {
      font-size: $text__36;
      color: $primary;
      margin: 0;
   }
}

.page__main {
   width: 100%;
   margin: 0;

   .cardWrapper {
      row-gap: 70px;
      column-gap: 160px;
      padding-inline: 30px;
   }

   .cardLayout {
      align-self: center;
   }

   .photographer {
      &__name {
         font-size: $text__36;
         color: $secondary;
      }

      &__link {
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }

      &__information {
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 6px;

         &__location {
            font-size: $text__18;
            color: $primary;
         }

         &__tagline {
            font-size: $text__13;
            color: $dark;
         }

         &__price {
            font-size: $text__10;
            color: $gray;
         }
      }
   }
}

// endregion
