//region Hero-Banner
.hero-banner {
   display: grid;
   width: 100%;
   height: 300px;
   margin: 0;
   padding: 24px 50px;
   animation: fadeIn 350ms 500ms both;
   background-color: #fafafa;
   grid-template-columns: 1fr 1fr 1fr;

   .portrait {
      margin: 0;
      justify-self: right;
   }
}

.header {
   &__information {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-self: start;
      gap: 10px;
      //height: 100%;
   }

   &__title {
      /*card__link__title text__xxl clr__secondary*/
      font-size: $text-_64;
      margin: 0;
      color: $secondary;
   }

   &__location {
      /*text__l clr__primary*/
      font-size: $text__24;
      color: $primary;
   }

   &__tagline {
      /*text__m clr__dark*/
      font-size: $text__18;
      margin-top: 15px;
      color: $dark;
   }
}

.contact_button {
   font-size: 20px;
   font-weight: bold;
   width: 170px;
   height: 70px;
   margin-top: 10px;
   padding: 11px;
   cursor: pointer;
   animation: fadeIn 350ms 800ms both;
   color: white;
   border: none;
   border-radius: 5px;
   background-color: #901c1c;
   justify-self: center;
}

//endregion

//region Sort Menu Drop-Down
.sort {
   &__wrapper {
      font-size: $text__18;
      position: absolute;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      //width: 300px;
      gap: 20px;
   }

   &__label {
      font-weight: bold;
   }

   &__options {
      z-index: 10;
      display: flex;
      overflow: hidden;
      align-items: start;
      flex-flow: column nowrap;
      justify-content: space-between;
      width: 180px;
      height: 40px;
      padding: 1px 5px 5px;
      transition: height 450ms;
      color: $white;
      border-radius: 5px;
      background-color: $primary;

      p {
         position: relative;
         display: block;
         width: 100%;
         height: 40px;
         padding-top: 10px;
         padding-left: 10px;
         transition: opacity 550ms ease-in-out;

         &[data-hidden='true'] {
            opacity: 0;
         }

         &:hover {
            cursor: pointer;
         }
      }

      &--icon {
         font-size: 22px;
         position: absolute;
         z-index: 15;
         top: 10px;
         right: 10px;
         transition: rotate 350ms ease-in-out;
         color: white;
         cursor: pointer;
      }

      &[data-dropped='true'] {
         height: 140px;
         box-shadow: 2px 3px 5px $gray;

         p {
            opacity: 1;
         &:hover {
           text-decoration:  underline;
            text-underline-offset: 7px;
         }
            &:not(:last-of-type) {
               &:after {
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  width: 100%;
                  content: '';
                  border-top: 1px rgba(255, 255, 255, 0.8) solid;
               }
            }
         }

         .sort__options--icon {
            rotate: 180deg;
         }
      }
   }
}

//endregion

//region Modal
#contact_modal {
   position: fixed;
   z-index: 50;
   top: -10px;
   left: 0;
   display: none;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   animation: fadeIn 300ms;
   background-color: rgba(250, 250, 250, 70%);
}

.modal__inner {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: min(650px, 50vw);
   height: 90vh;
   margin: auto;
   border-radius: 5px;
   background-color: $primary__alt;
   padding-inline: 30px;
   gap: 80px;

   header {
      position: relative;
      align-items: start;
      flex-direction: column;
      width: 100%;
      gap: 5px;

      #closeModal {
         font-size: $text__64;
         position: absolute;
         top: 0;
         right: 0;
         cursor: pointer;
         color: $white;
      }

      h2,
      h3 {
         font-size: $text__64;
         font-weight: normal;
         text-align: center;
      }
   }

   form {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin: auto;
      gap: 10px;

      label {
         font-size: $text__36;
         display: block;
         color: #312e2e;
      }

      input,
      textarea {
         width: 100%;
         height: 68px;
         resize: none;
         border: none;
         border-radius: 5px;
         font-size: $text__36;
      }

      .contact_button {
         animation: fadeIn 350ms 160ms both;
      }
   }
}

//endregion

.card__information {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 15px;

   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &[data-is-liked='true'] {
         i {
            color: $secondary--alt;
         }
      }
   }

   &__title,
   &__likes {
      font-size: $text__24;
      color: $primary;
   }

   &__icon {
      font-size: 24px;
      margin-left: 5px;
      cursor: pointer;
      transition: opacity, color, transform 350ms ease-in-out;
      color: $primary;

      &:active {
         animation: navigation 450ms ease-in-out;
      }

      &:hover {
         transform: scale(1.05);
         opacity: 0.6;
         color: $secondary;
      }
   }
}

.cardLayout[data-is-liked='true'] {
   .card__information__icon,
   .card__information__likes{
      color: #d09139;
   }
}

.photographer__aside {
   font-size: $text__24;
   position: fixed;
   right: 100px;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 350px;
   animation: fadeIn 400ms 600ms both;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: $primary__alt;
   padding-inline: 30px;
   padding-block: 15px;

   .aside__wrapper {
      display: flex;
      gap: 5px;
   }

   .fa-solid {
      width: 18px;
      height: 18px;
      margin-left: 5px;
   }
}

.imgPhotographer {
   width: 200px;
   height: 200px;
   margin-bottom: 20px;
   border-radius: 100%;
   object-fit: cover;
   object-position: center;
   margin-inline: auto;
}

.imgMedia {
   object-fit: cover;
   object-position: top;
   margin-inline: auto;
}


.likeIcon {
   width: 18px;
   height: 18.5px;
}

.lightbox {
   position: absolute;
   top: 0;
   left: 0;
   display: none;
   width: 100vw;
   height: 100vh;
   animation: fadeIn 350ms 100ms;
   background-color: $white;

   &[data-open='true'] {
      display: block;
   }

   &__container {
      position: relative;
      width: 80%;
      height: 80%;
      //background-color: pink;
      margin-top: 5%;
      margin-inline: auto;
   }

   &__title {
      font-size: $text__24;
      position: relative;
      bottom: -50px;
      left: 0;
      display: block;
      color: $primary;
   }

   &__media-wrapper {
      display: flex;
      overflow: hidden;
      flex-flow: column nowrap;
      justify-content: center;
      width: 100%;
      height: 100%;

      .imgMedia {
         //visibility: hidden;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;

         &[data-visible='true'] {
            visibility: visible;
         }
      }
   }

   .fa-solid {
      font-size: $text__64;
      position: absolute;
      cursor: pointer;
      color: $primary;
      $offset: 60px;

      &.fa-angle-right,
      &.fa-angle-left,
      &.fa-xmark {
         transition: color 350ms;

         &:active {
            animation: navigation 450ms 100ms ease-in-out;
            color: $dark;
         }

         &:hover {
            transition: color 350ms;
            color: $dark;
         }
      }

      &.fa-angle-right {
         top: 50%;
         right: $offset;
      }

      &.fa-angle-left {
         top: 50%;
         left: $offset;
      }

      &.fa-xmark {
         top: $offset;
         right: $offset;
      }
   }
}

.focusNavigation {
   animation: navigation 250ms ease-in-out;
   color: $primary;
}

@keyframes navigation {
   0%,
   60%,
   100% {
      scale: 100%;
   }
   40% {
      scale: 60%;
   }
   80% {
      scale: 110%;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
      animation-timing-function: ease-in;
   }
   to {
      opacity: 1;
      animation-timing-function: ease-out;
   }
}

/**
  * Duo
  *
  * @author jh3y - jhey.dev
*/
.duo {
   align-self: center;

   &:before {
      display: block;
      width: 50px;
      height: 50px;
      content: '';
      -webkit-animation: spin 0.5s infinite linear;
      animation: spin 0.5s infinite linear;
      border-width: 6px;
      border-style: solid;
      border-top-color: $primary;
      border-right-color: $secondary;
      border-bottom-color: $primary;
      border-left-color: $secondary;
      border-radius: 100%;
   }
}

@-webkit-keyframes spin {
   to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes spin {
   to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
