@import 'base/normalize.css';
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline-color: #901c1c;
  outline-offset: 5px;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
li,
a,
label,
button,
input,
textarea,
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

a:visited, a:link {
  text-decoration: none;
}

body * :focus-visible {
  scale: 101%;
  transition: scale 120ms ease-out;
}

h1 {
  margin-right: 70px;
}

.portrait {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin-inline: auto;
}

.cardLayout {
  width: 355px;
  height: 340px;
}

.logo {
  height: 50px;
}

main {
  display: block;
}
main[data-lightbox-is-open=true] {
  display: none;
}

.cardWrapper {
  animation: fadeIn 450ms 600ms;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
  row-gap: 70px;
  margin-block: 110px 70px;
}
.cardWrapper > .duo {
  position: absolute;
  top: 50%;
  left: 45%;
}
.cardWrapper .imgMedia {
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

body > header,
body > main {
  margin-inline: 7vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-top: 2vw;
  margin-bottom: 0;
}

header h1 {
  font-size: 36px;
  color: #901c1c;
  margin: 0;
}

.page__main {
  width: 100%;
  margin: 0;
}
.page__main .cardWrapper {
  row-gap: 70px;
  column-gap: 160px;
  padding-inline: 30px;
}
.page__main .cardLayout {
  align-self: center;
}
.page__main .photographer__name {
  font-size: 36px;
  color: #d3573c;
}
.page__main .photographer__link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page__main .photographer__information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.page__main .photographer__information__location {
  font-size: 18px;
  color: #901c1c;
}
.page__main .photographer__information__tagline {
  font-size: 13px;
  color: black;
}
.page__main .photographer__information__price {
  font-size: 10px;
  color: #525252;
}

.hero-banner {
  display: grid;
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 24px 50px;
  animation: fadeIn 350ms 500ms both;
  background-color: #fafafa;
  grid-template-columns: 1fr 1fr 1fr;
}
.hero-banner .portrait {
  margin: 0;
  justify-self: right;
}

.header__information {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-self: start;
  gap: 10px;
}
.header__title {
  /*card__link__title text__xxl clr__secondary*/
  font-size: 64px;
  margin: 0;
  color: #d3573c;
}
.header__location {
  /*text__l clr__primary*/
  font-size: 24px;
  color: #901c1c;
}
.header__tagline {
  /*text__m clr__dark*/
  font-size: 18px;
  margin-top: 15px;
  color: black;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  width: 170px;
  height: 70px;
  margin-top: 10px;
  padding: 11px;
  cursor: pointer;
  animation: fadeIn 350ms 800ms both;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #901c1c;
  justify-self: center;
}

.sort__wrapper {
  font-size: 18px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 20px;
}
.sort__label {
  font-weight: bold;
}
.sort__options {
  z-index: 10;
  display: flex;
  overflow: hidden;
  align-items: start;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 180px;
  height: 40px;
  padding: 1px 5px 5px;
  transition: height 450ms;
  color: #fafafa;
  border-radius: 5px;
  background-color: #901c1c;
}
.sort__options p {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  transition: opacity 550ms ease-in-out;
}
.sort__options p[data-hidden=true] {
  opacity: 0;
}
.sort__options p:hover {
  cursor: pointer;
}
.sort__options--icon {
  font-size: 22px;
  position: absolute;
  z-index: 15;
  top: 10px;
  right: 10px;
  transition: rotate 350ms ease-in-out;
  color: white;
  cursor: pointer;
}
.sort__options[data-dropped=true] {
  height: 140px;
  box-shadow: 2px 3px 5px #525252;
}
.sort__options[data-dropped=true] p {
  opacity: 1;
}
.sort__options[data-dropped=true] p:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
.sort__options[data-dropped=true] p:not(:last-of-type):after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  content: "";
  border-top: 1px rgba(255, 255, 255, 0.8) solid;
}
.sort__options[data-dropped=true] .sort__options--icon {
  rotate: 180deg;
}

#contact_modal {
  position: fixed;
  z-index: 50;
  top: -10px;
  left: 0;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  animation: fadeIn 300ms;
  background-color: rgba(250, 250, 250, 0.7);
}

.modal__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: min(650px, 50vw);
  height: 90vh;
  margin: auto;
  border-radius: 5px;
  background-color: #db8876;
  padding-inline: 30px;
  gap: 80px;
}
.modal__inner header {
  position: relative;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.modal__inner header #closeModal {
  font-size: 64px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fafafa;
}
.modal__inner header h2,
.modal__inner header h3 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
.modal__inner form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  gap: 10px;
}
.modal__inner form label {
  font-size: 36px;
  display: block;
  color: #312e2e;
}
.modal__inner form input,
.modal__inner form textarea {
  width: 100%;
  height: 68px;
  resize: none;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}
.modal__inner form .contact_button {
  animation: fadeIn 350ms 160ms both;
}

.card__information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.card__information__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__information__wrapper[data-is-liked=true] i {
  color: #ff2600;
}
.card__information__title, .card__information__likes {
  font-size: 24px;
  color: #901c1c;
}
.card__information__icon {
  font-size: 24px;
  margin-left: 5px;
  cursor: pointer;
  transition: opacity, color, transform 350ms ease-in-out;
  color: #901c1c;
}
.card__information__icon:active {
  animation: navigation 450ms ease-in-out;
}
.card__information__icon:hover {
  transform: scale(1.05);
  opacity: 0.6;
  color: #d3573c;
}

.cardLayout[data-is-liked=true] .card__information__icon,
.cardLayout[data-is-liked=true] .card__information__likes {
  color: #d09139;
}

.photographer__aside {
  font-size: 24px;
  position: fixed;
  right: 100px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  animation: fadeIn 400ms 600ms both;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #db8876;
  padding-inline: 30px;
  padding-block: 15px;
}
.photographer__aside .aside__wrapper {
  display: flex;
  gap: 5px;
}
.photographer__aside .fa-solid {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.imgPhotographer {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin-inline: auto;
}

.imgMedia {
  object-fit: cover;
  object-position: top;
  margin-inline: auto;
}

.likeIcon {
  width: 18px;
  height: 18.5px;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 350ms 100ms;
  background-color: #fafafa;
}
.lightbox[data-open=true] {
  display: block;
}
.lightbox__container {
  position: relative;
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-inline: auto;
}
.lightbox__title {
  font-size: 24px;
  position: relative;
  bottom: -50px;
  left: 0;
  display: block;
  color: #901c1c;
}
.lightbox__media-wrapper {
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.lightbox__media-wrapper .imgMedia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.lightbox__media-wrapper .imgMedia[data-visible=true] {
  visibility: visible;
}
.lightbox .fa-solid {
  font-size: 64px;
  position: absolute;
  cursor: pointer;
  color: #901c1c;
}
.lightbox .fa-solid.fa-angle-right, .lightbox .fa-solid.fa-angle-left, .lightbox .fa-solid.fa-xmark {
  transition: color 350ms;
}
.lightbox .fa-solid.fa-angle-right:active, .lightbox .fa-solid.fa-angle-left:active, .lightbox .fa-solid.fa-xmark:active {
  animation: navigation 450ms 100ms ease-in-out;
  color: black;
}
.lightbox .fa-solid.fa-angle-right:hover, .lightbox .fa-solid.fa-angle-left:hover, .lightbox .fa-solid.fa-xmark:hover {
  transition: color 350ms;
  color: black;
}
.lightbox .fa-solid.fa-angle-right {
  top: 50%;
  right: 60px;
}
.lightbox .fa-solid.fa-angle-left {
  top: 50%;
  left: 60px;
}
.lightbox .fa-solid.fa-xmark {
  top: 60px;
  right: 60px;
}

.focusNavigation {
  animation: navigation 250ms ease-in-out;
  color: #901c1c;
}

@keyframes navigation {
  0%, 60%, 100% {
    scale: 100%;
  }
  40% {
    scale: 60%;
  }
  80% {
    scale: 110%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  to {
    opacity: 1;
    animation-timing-function: ease-out;
  }
}
/**
  * Duo
  *
  * @author jh3y - jhey.dev
*/
.duo {
  align-self: center;
}
.duo:before {
  display: block;
  width: 50px;
  height: 50px;
  content: "";
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
  border-width: 6px;
  border-style: solid;
  border-top-color: #901c1c;
  border-right-color: #d3573c;
  border-bottom-color: #901c1c;
  border-left-color: #d3573c;
  border-radius: 100%;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
