//region Base
//region Variables and fonts
$primary: #901c1c;
$primary__alt: #db8876;
$secondary: #d3573c;
$secondary--alt: #ff2600;
$gray: #525252;
$white: #fafafa;
$dark: black;

$text__64: 64px;
$text__36: 36px;
$text__24: 24px;
$text__20: 20px;
$text__18: 18px;
$text__13: 13px;
$text__10: 10px;
$text__09: 9px;

$outer-border: 7vw;
$card-layout-width: 355px;
$card-layout-height: 340px;

$grid-columns: 3;

@mixin links {
   background: $primary;
   color: $white;
   &:hover {
      background: $secondary;
      color: $dark;
   }
}

@mixin focusScale($zoom: 101%) {
   scale: $zoom;
   transition: scale 120ms ease-out;
}

//endregion
//region Personal Reset

*,
*:before,
*:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   outline-color: $primary;
   outline-offset: 5px;
}

html {
   scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
li,
a,
label,
button,
input,
textarea,
body {
   font-family: 'DM Sans', sans-serif;
   font-weight: 400;
}

a {
   &:visited,
   &:link {
      text-decoration: none;
   }
}

body {
   * :focus-visible {
      @include focusScale;
   }
}

//endregion
//endregion

//titles
h1 {
   margin-right: 70px;
}

// Portrait IMG
.portrait {
   width: 240px;
   height: 240px;
   border-radius: 100%;
   object-fit: cover;
   object-position: center;
   margin-inline: auto;
}

// Main Layout for Card components
.cardLayout {
   width: $card-layout-width;
   height: $card-layout-height;
}

// Main Logo in Body>HEADER
.logo {
   height: 50px;
}