p,
h3,
h2,
h1,
h4,
label,
a,
input,
li {
   font-family: $font-text;
   color: white(0);
}

h1 {
   font-family: $font-header;
   font-size: $text-xxxl;
   font-weight: 400;
   letter-spacing: 0.6px;
}

h2 {
   font-family: $font-text;
   font-size: $text-xl;
   font-weight: 600;
   letter-spacing: 0.1px;
}

input {
   font-size: $text-m;
   font-weight: 500;
   color: white(20);
}

i {
   font-size: $icon-size;
}

p {
   font-size: $text-l;
   font-weight: 300;
}

button {
   font-size: $text-m;
   font-weight: 400;
}
