---
import Base from '../layouts/Base.astro';
---
<Base>
  <header>
    <h1>Maxime Tamburrini</h1>
  </header>
  <main id="main">
    <p>Développeur Front-End Vue/Nuxt</p>
  </main>
  <footer>
    <p>&copy; 2026 Maxime Tamburrini</p>
  </footer>
</Base>
