//region HEADER
.home__header,
.home__main,
.home__main + footer {
   animation: home-page__fade-in;
}
.home__header{
animation-duration: 2500ms;
}
.home__main{
animation-duration: 2900ms;
}
.home__main + footer{
   animation-duration: 3100ms;
}
.loading {
   position: absolute;
   top: 0;
   display: grid;
   width: 100%;
   height: 100%;
   animation-name: home-page__wheel-fade-out;
   animation-duration: 2800ms;
   animation-timing-function: ease-out;
   place-content: center;
   animation-fill-mode: forwards;
   .wheel {
      //$var: 60px;
      //width:$var;
      //height: $var;
      animation: home-page__wheel-rotating 2800ms linear;
      border-radius: 10px;
      background: linear-gradient(170deg, $secondaire 10%, $primaire-light 75%);
   }
}

@keyframes home-page__wheel-rotating {
   0% {
      transform: rotate(0deg);
      $var: 30px;
      width:$var;
      height: $var;
   }
  100% {
     $var: 100%;
     width:$var;
     height: $var;
      transform: rotate(360deg);
   }
}
@keyframes home-page__wheel-scale {
   from {
   }
   to {
   }
}
@keyframes home-page__wheel-fade-out {
   0% {
      opacity: 0%;
   }
   20% {
      opacity: 100%;
   }
   70% {
      opacity: 100%;
   }
   80% {
      opacity: 70%;
   }
   90% {
      opacity: 30%;
   }
   100% {
      opacity: 0;
   }
}

@keyframes home-page__fade-in {
   0% {
      opacity: 0;
   }
   70% {
      opacity: 0;
   }
   80% {
      opacity: 30%;
   }
   90% {
      opacity: 70%;
   }
   100% {
      opacity: 100%;
   }
}
.home__header {
   //NAVIGATION for Home page only
}

//region Input Localisation
.header__localisation {
   z-index: 0;
   display: grid;
   height: 50px;
   background-color: white(92);
   place-content: center;

   input {
      z-index: 0;
      width: 130px;
      margin-left: 15px;
      border: none;
      background-color: inherit;
   }
}
//endregion

//region Presentation
.header__presentation {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   background-color: white(96);
   padding-block: 43px;
   gap: 15px;
   h2 {
      width: 74%;
   }
   p {
      width: 85%;
      margin-bottom: 20px;
      color: white(20);
   }
}
//endregion
//endregion

//region MAIN

//region main Layout
.main__fonctionnement-container,
.main__restaurant-container {
   padding-inline: 20px;
   padding-block: 52px 70px;

   h2 {
      margin-bottom: 25px;
   }
}
//endregion

//region Fonctionnement
$offset: 10px;
.fonctionnement__list {
   //Wrapper
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 24px;
   li {
      //Cards
      display: flex;
      align-items: center;
      width: 323px;
      height: 73px;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      transform: translateX($offset);
      @include box-shadow(4px, 15px, 85%);
      border-radius: 23px;
      background-color: white(96);
      &:hover {
         background-color: $primaire-lighter;
         i {
            color: $primaire;
         }
      }
   }
   @media screen and (min-width: 735px) {
      flex-direction: row;
      justify-content: center;
   }
}

.fonctionnement__bubble {
   display: inline-grid;
   width: 24px;
   height: 25px;
   transform: translateX(-$offset);
   border-radius: 100%;
   background-color: $primaire;
   place-content: center;
   span {
      font-size: $text-s;
      font-weight: 300;
      transform: translateY(2px);
      color: white(100);
   }
}
.fonctionnement__icon {
   margin-inline: 12px 27px;
   i {
      font-size: 19px;
      transform: scaley(1.1);
      color: white(50);
   }
}
.fonctionnement__description {
   font-size: $text-m;
   font-weight: 500;
}
//endregion

//region Restaurants
.main__restaurant-container {
   background-color: white(96);
}
.restaurant__card-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 25px;
   @media screen and (min-width: 735px) {
      flex-direction: row;
      justify-content: center;
   }
}

.restaurant__card {
   @include box-shadow(4px, 10px, 90%);
   overflow: hidden;
   width: 335px;
   height: 243px;
   border-radius: 20px;
   &:hover {
      animation-name: card-hover;
      animation-duration: 500ms;
      animation-timing-function: ease-in-out;
   }
   a {
      width: 100%;
      height: 100%;
      &:hover {
         cursor: pointer;
         h3,
         p {
            color: $primaire;
         }
      }
   }
   &:nth-of-type(3) {
      img {
         width: 150%;
      }
   }
}
.restaurant__card-header {
   position: relative;
   overflow: hidden;
   height: 170px;
   img {
      width: 100%;
      object-fit: contain;
      object-position: center;
   }
   .new-restaurant {
      position: absolute;
      top: 15px;
      right: 20px;
      display: none;
      padding: 8px 12px;
      border-radius: 2px;
      background-color: $tertiaire;
   }
}
.restaurant__card--new {
   .new-restaurant {
      display: block;
   }
}
.restaurant__card-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 77px;
   background-color: white(100);
   padding-inline: 14px;

   .text-container {
      p {
         margin-top: 5px;
      }
   }
}

//endregion
//endregion

@keyframes card-hover {
   0% {
      transform: scale(1);
   }

   33% {
      transform: scale(1.1);
   }
   100% {
      transform: scale(1);
   }
}
