$font-text: 'Roboto', sans-serif;
$font-header: 'Shrikhand', cursive;

$text-xs: 12px;
$text-s: 15px;
$text-m: 16px;
$text-l: 18px;
$text-xl: 24px;
$text-xxxl: 29px;

$icon-size: 16px;

$layout-spacing: 20px;
$layout-double-spacing: $layout-spacing * 2;

$primaire: #9356dc;
$primaire-light: #af5fdb;
$primaire-lighter: #f5edff;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$tertiaire-darker: #008766;
