@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply m-0 p-0 bg-[#09090b] text-zinc-100 min-h-screen;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
    transition: none !important;
  }
}
